.py-11 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

.fade-in {
    position: relative;
    animation: fadein 2s;
    animation-timing-function: ease;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.fade-down {
    position: relative;
    animation: fadedown 2.3s;
    animation-timing-function: ease;
}

@keyframes fadedown {
    0%   { 
        top: -30px;
        opacity: 0; 
    }
    33%  { 
        top: -30px;
        opacity: 0; 
    }
    100% { 
        top: 0px;
        opacity: 1; 
    }
}